asgiref==3.9.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
django==4.2.23
idna==3.10
josepy==2.1.0
mozilla-django-oidc==4.0.1
pycparser==2.22
pyjwt==2.10.1
python-dotenv==1.1.1
requests==2.32.4
sqlparse==0.5.3
urllib3==2.5.0
