<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
  <p>Current user pk: {{ user.pk }}</p>
  <p>Current user sub: {{ user.sub }}</p>
  <p>Current user email: {{ user.email }}</p>
  <p>Current user first_name: {{ user.first_name }}</p>
  <p>Current user last_name: {{ user.last_name }}</p>
  <form action="{% url 'oidc_logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="logout">
  </form>
{% else %}
  <a href="{% url 'oidc_authentication_init' %}">Login</a>
{% endif %}
</body>
</html>