<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Camera Home</title>
</head>
<body>
  <h1>Camera Home Page</h1>
  <p>ログイン済みユーザーのみアクセス可能です。</p>

  {% if user.is_authenticated %}
  <form action="{% url 'oidc_logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="logout">
  </form>

  <!-- 撮影ボタン -->
  <button id="take-photo">写真を撮る</button>

  <!-- 最新の写真を表示する場所 -->
  <div id="latest-photo"></div>

  <script>
    document.getElementById("take-photo").addEventListener("click", async () => {
      let res = await fetch("{% url 'camera:take_picture' %}", {
        method: "POST",
        headers: { "X-CSRFToken": "{{ csrf_token }}" }
      });
      let data = await res.json();
      console.log("撮影リクエスト:", data);
    });

  </script>
  {% else %}
    <a href="{% url 'oidc_authentication_init' %}">Login</a>
  {% endif %}
</body>
</html>
